.navbar {
  position: fixed;
  width: 100%;
}

/* HEADER */

.homepage-header {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/3296396/pexels-photo-3296396.jpeg");
  background-size: cover;
  background-position-y: 25%;

  h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-family: "Marcellus", sans-serif;
    margin: 1rem;
    color: var(--light-text-color);
  }

  img {
    width: 100px;
  }
}

@media screen and (min-width: 730px) {
  .homepage-header h1 {
    font-size: 80px;
  }

  .homepage-header img {
    width: 170px;
  }
}

/* MAIN */

.homepage-main {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  font-family: "Marcellus", sans-serif;
  background-image: url("Curve-Line-Background.svg");
  background-size: cover;

  p {
    font-size: 14px;
  }

  h2 {
    font-size: 27px;
    font-family: "MarcellusSC", sans-serif;
    font-weight: normal;
  }
}

.homepage-main .description {
  padding: 3rem 2rem;
  text-align: center;

  h2 {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.homepage-main .specialities {
  text-align: center;

  h2 {
    margin: 0 0 2rem;
  }

  .articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  article {
    width: 250px;

    p {
      margin-bottom: 0;
    }
    .image-container {
      width: 170px;
      height: 170px;
      overflow: hidden;
      display: inline-block;
      clip-path: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
    }
    img {
      width: 255px;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      position: relative;
    }
  }

  article:nth-child(1) img {
    transform: translate(
      calc(50% - 61%) /* Décalage horizontal */,
      calc(50% - 84%) /* Décalage vertical */
    );
  }

  article:nth-child(2) img {
    transform: translate(
      calc(50% - 65%) /* Décalage horizontal */,
      calc(50% - 50%) /* Décalage vertical */
    );
  }

  article:nth-child(3) img {
    transform: translate(
      calc(50% - 55%) /* Décalage horizontal */,
      calc(50% - 92%) /* Décalage vertical */
    );
  }
}

.homepage-main .reservation-card {
  width: 90%;
  margin: 3rem auto;
  text-align: center;

  aside {
    background-color: #9e8464;
    border-radius: 16px 16px 0 0;
    padding: 1rem;

    h3 {
      font-size: 27px;
      margin: 0 0 0.5rem;
      font-weight: normal;
    }
    h4 {
      margin: 0;
      font-weight: normal;
      font-size: 20px;
    }
    p {
      margin: 0;
    }

    .horaires-midi,
    .horaires-soir {
      padding: 0.5rem;
    }

    .contact {
      display: none;
    }
  }

  article {
    border-radius: 0 0 16px 16px;
    background-color: #61817c;
    padding: 1rem 5% 2rem;

    h2 {
      margin: 0 0 1.5rem;
      font-size: 40px;
      font-weight: normal;
    }

    p:last-of-type {
      margin-bottom: 1.5rem;
    }

    a {
      font-family: "MarcellusSC", sans-serif;
      color: var(--light-text-color);
      font-size: 22px;
      text-decoration: none;
      background-color: #9e8464;
      padding: 0.5rem 2rem;
      border-radius: 27px;
      margin: 1rem;
      box-shadow: 4px 6px 8px rgba(0, 0, 0, 25%);
      transition: 0.6s;
    }

    .reservation-link-box {
      display: inline-block;
    }

    .reservation-link-box:hover {
      animation: shake 0.4s forwards;
    }
  }
}

@keyframes shake {
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}

.homepage-main .localization {
  text-align: center;
  padding-bottom: 2rem;

  .contact {
    margin-bottom: 2rem;
  }

  iframe {
    width: 90%;
    height: 400px;
  }

  .adress {
    display: none;
  }
}

main > a:hover {
  animation: shake 0.6s forwards;
}

@media screen and (min-width: 730px) {
  .homepage-main {
    p {
      font-size: 18px;
    }

    h2 {
      font-size: 60px;
    }

    .description {
      padding: 3rem 2rem 5rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .homepage-main .specialities {
    h2 {
      margin-bottom: 4rem;
    }

    .articles-container {
      flex-direction: row;
      justify-content: center;
      align-items: start;
      gap: 5%;

      article {
        .image-container {
          width: 200px;
          height: 200px;
          margin-bottom: 1.5rem;
        }
        img {
          width: 300px;
        }
      }
    }
  }
  .homepage-main .reservation-card {
    display: grid;
    grid-template-columns: 30% 70%;
    max-width: 900px;
    margin-bottom: 6rem;

    aside {
      border-radius: 16px 0 0 16px;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .contact {
        display: block;

        p {
          margin-bottom: 0.5rem;
        }
      }
    }
    article {
      border-radius: 0 16px 16px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h2 {
        margin-bottom: 0;
      }
    }
  }

  .homepage-main .localization {
    display: grid;
    grid-template-columns: 65% 30%;
    gap: 5%;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;

    .contact {
      display: none;
    }

    iframe {
      width: 100%;
    }

    .adress {
      display: block;

      p {
        margin: 0;
      }
      p:first-of-type {
        margin-bottom: 1rem;
      }
    }
  }
}
