@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat.ttf);
}
@font-face {
  font-family: "Marcellus";
  src: url(./assets/fonts/Marcellus.ttf);
}
@font-face {
  font-family: "MarcellusSC";
  src: url(./assets/fonts/MarcellusSC.ttf);
}

:root {
  --primary-color: #28333a;
  --light-text-color: #ffffff;
  --card-menu-color: #cecaa2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
