.menu-sidebar {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;

  li {
    width: 20%;
    text-align: center;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    img {
      width: 25px;
      display: block;
      margin-bottom: 0.3rem;
    }
    span {
      color: whitesmoke;
      height: 30px;
      display: flex;
      align-items: center;
    }
  }
}
