.about-main {
  background-color: #18242b;
  background-image: url("aboutbackground/curve-line-top.svg"),
    url("aboutbackground/curve-line-bottom.svg");
  background-size: 200% auto, 200% auto;
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}

.about-main .about-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 96px 0 32px;
  color: white;
  font-family: "Marcellus", sans-serif;
}

.about-main .about-history {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.about-main .about-history h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-family: "MarcellusSC", sans-serif;

  span {
    display: inline-block;
  }
}

.about-main .about-history h3 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.about-main .about-history p {
  font-size: 1.2rem;
}

.about-main .about-history h1 {
  font-family: "MarcellusSC", sans-serif;
  font-size: 2.7rem;
  margin-top: 3rem;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

@media screen and (min-width: 800px) {
  .about-main {
    min-height: calc(100vh - 134.34px);

    .about-history h2 {
      font-size: 2rem;
    }
  }
}
