.menu-page {
  background-color: var(--primary-color);
  padding: 30px;
  min-height: calc(100vh - 72px);
  background-image: url(../../assets/images/background-menu.svg);
  background-size: cover;
  background-position: center;

  h1 {
    text-align: center;
    font-family: "Marcellus", sans-serif;
    color: white;
    font-size: 2rem;
  }
  .menu-list {
    perspective: 500px;
  }
}

@media (min-width: 768px) {
  .menu-page {
    h1 {
      font-size: 3rem;
      margin: 20px;
    }

    .menu-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 1600px;
      margin: auto;
    }
  }
}
