footer {
  /* height: 100px; */
  background-color: rgba(163, 126, 79, 1);
}

footer ul {
  padding: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-items: center;
  flex-wrap: wrap;
  list-style: none;
  color: white;
  font-size: 0.5rem;
  /* height: 100%; */

  .contact {
    display: none;
  }

  h3 {
    font-family: "MarcellusSC", sans-serif;
  }

  p {
    font-family: "Macellus", sans-serif;
  }

  li {
    text-align: center;
    line-height: 0.8;
    /* height: 100%; */
    width: 100%;

    a {
      color: white;
      text-decoration: none;

      a :hover {
        text-decoration-color: rgb(97, 97, 235);
      }
    }
  }
}

.reseaux {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 0 10px 0;

  section {
    display: flex;
    justify-content: space-evenly;
    object-fit: contain;
  }

  img {
    height: 30px;
    width: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.45));
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
  footer ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 0.8rem;
    text-align: center;
  }

  footer ul li {
    width: 33%;
  }

  .reseaux img {
    height: 50px;
    width: 50px;
  }
  .reseaux {
    height: 100%;
    padding: 0 0 20 0;
  }

  /* .reseaux section { */
  /* display: flexbox; */
  /* justify-content: space-around; */
  /* gap: 50px; */
  /* } */
}
