.contener {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("reservation/reservation-jour.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact {
  background-color: #7a6b6b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.4);
  color: white;
}

.contact h3 {
  font-family: "MarcellusSC", serif;
}

.contact div {
  margin: 16px;
}

.contact p {
  font-family: "Marcellus", serif;
  margin: 0;
}

.formulaire {
  box-sizing: border-box;
  background-color: #f3f9f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 32px;
  box-shadow: 0 -10px 40px rgba(0, 0, 0, 0.4);
}

.formulaire h2 {
  margin-top: auto;
  width: 310px;
  display: flex;
  justify-content: center;
  background-color: #7a6b6b;
  padding: 16px;
  font-family: "MarcellusSC", serif;
  color: white;
}

.formulaire form {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 16px;
}

.formulaire label {
  color: #7a6b6b;
  margin-bottom: 5px;
  font-size: 1rem;
}

.formulaire input {
  background-color: #c2b5b5;
  width: 200px;
  padding: 4px;
  border-radius: 16px;
  border: none;
  outline: none;
  font-family: "Marcellus", serif;
}

.formulaire select {
  background-color: #c2b5b5;
  width: 200px;
  padding: 4px;
  border-radius: 16px;
  border: none;
  outline: none;
  font-family: "Marcellus", serif;
}

.formulaire button {
  width: 150px;
  background-color: #c8a476;
  font-family: "MarcellusSC", serif;
  color: white;
  border-radius: 16px;
  border: none;
  outline: none;
  margin: 16px;
  padding: 16px;
}

@media screen and (max-width: 900px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .contener {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .contact {
    height: 75vh;
    margin-left: 32px;
  }

  .formulaire {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .formulaire h2 {
    margin: 16px;
  }

  .formulaire form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: auto;
  }

  .item {
    flex: 1 1 40%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
}
