.navbar {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.6);
  position: fixed;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(7px);

  img {
    width: 56px;
  }

  nav ul {
    list-style: none;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    font-weight: 500;
    position: fixed;
    top: 0;
    right: -190px;
    margin-top: 72px;
    transform: translateY(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;

    li {
      text-align: center;
      background-color: rgba(217, 217, 217, 0.6);
      backdrop-filter: blur(7px);
    }

    a {
      text-decoration: none;
      color: var(--primary-color);
      font-size: 1.25rem;
    }
  }

  .burger-menu {
    width: 37px;
    height: 37px;
    display: flex;
    background-color: inherit;
    border: inherit;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-right: 0.5rem;
    padding: 0;
    cursor: pointer;
  }

  .burger-menu span,
  .burger-menu span::before,
  .burger-menu span::after {
    height: 9px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--primary-color);
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .burger-menu span::before,
  .burger-menu span::after {
    content: "";
    position: absolute;
  }

  .burger-menu span::before {
    transform: translateY(-14px);
  }

  .burger-menu span::after {
    transform: translateY(14px);
  }
}

.show-nav nav ul {
  left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  transform: translateY(0); /* La navbar se déplace vers sa position normale */
  opacity: 1;
}
.show-nav nav li {
  width: 50%;
  padding: 10px 0;
}

.show-nav .burger-menu span {
  background: transparent;
}

.show-nav .burger-menu span::before {
  transform: rotate(45deg);
}

.show-nav .burger-menu span::after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 730px) {
  .navbar {
    nav ul {
      display: flex;
      flex-wrap: nowrap;
      padding: 0;
      margin: 0 1.5rem 0 0;
      gap: 1.8rem;
      background-color: transparent;
      position: relative;
      right: 0;
      transform: translateY(0);
      opacity: 1;
      transition: none;

      li {
        width: auto;
      }

      a {
        color: white;
        transform: translateY(0%);
      }
      li:hover {
        animation: hoverlinks 0.3s linear forwards;
      }
    }
    .burger-menu {
      display: none;
    }
  }

  .navbar.reservation a {
    color: var(--primary-color);
  }

  @keyframes hoverlinks {
    50% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
