.navbar {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.6);
  position: fixed;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(7px);

  img {
    width: 56px;
  }

  nav ul {
    list-style: none;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    font-weight: 500;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    flex-wrap: wrap;
    margin-top: 72px;
    /* border: solid 1px red; */
    background-color: rgba(217, 217, 217, 0.6);

    li {
      width: 175px;
      /* border: solid 1px red; */
      text-align: center;
      margin: 15px;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 1.25rem;
    }
  }

  .burger-menu {
    width: 37px;
    height: 37px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 0.5rem;
  }

  .burger-menu span {
    height: 9px;
    width: 37px;
    border-radius: 5px;
    background-color: var(--primary-color);
    display: block;
  }
}

.show-nav nav ul {
  left: 0;
  display: flex;
  width: 100vw;
}

@media screen and (min-width: 730px) {
  .navbar {
    nav ul {
      display: flex;
      padding: 0;
      margin: 0 1.5rem 0 0;
      gap: 2rem;
      /* text-transform: uppercase; */
      /* font-family: "Montserrat", serif; */
      /* font-size: 1.25rem; */
      /* font-weight: 500; */
      position: relative;

      a {
        /* color: white; */
        /* text-decoration: none; */
        transform: translateY(0%);
      }
      li:hover {
        animation: hoverlinks 0.3s linear forwards;
      }
    }
    .burger-menu {
      display: none;
    }
  }

  .navbar.reservation a {
    color: var(--primary-color);
  }

  @keyframes hoverlinks {
    50% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}
