.menu-card {
  width: 208px;
  margin: 30px auto;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease, box-shadow 0.5s ease;
  cursor: pointer;
  padding: 0;
  color: var(--primary-color);
  /* border: transparent; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);

  img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    display: block;
  }

  figcaption {
    text-align: center;
    background-color: var(--card-menu-color);
    font-family: "MarcellusSC", sans-serif;
    font-size: 1.5rem;
    padding-bottom: 5px;
    border-radius: 0 0 20px 20px;
  }
}

.menu-card:hover {
  transform: translateZ(8px);
}

@media (min-width: 768px) {
  .menu-card {
    margin: 30px 30px;
    width: 362px;

    img {
      width: 100%;
      height: 458px;
    }

    figcaption {
      font-size: 2rem;
    }
  }
}

/* -------------------------- EXTENDED CARD ------------------------------ */

.menu-card.extended {
  width: 100%;
  font-family: "Marcellus", sans-serif;
  background-color: var(--card-menu-color);
  /* color: var(--primary-color); */

  h2 {
    font-size: 27px;
    font-family: "MarcellusSC", sans-serif;
    margin-top: 0.5rem;
  }

  h3 {
    font-size: 20px;
  }

  ul {
    list-style: none;
    padding: 0 0.8rem;
    text-align: start;
  }

  h4 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  li {
    display: grid;
    grid-template-columns: 80% 15%;
    gap: 0 5%;
    margin-bottom: 0.5rem;
  }

  .price {
    text-align: right;
  }
}
.menu-card.extended:hover {
  transform: translateZ(0);
}

@media (min-width: 768px) {
  .menu-card.extended {
    width: 80%;

    article {
      margin-bottom: 1.5rem;
    }

    h3 {
      text-align: left;
    }

    section {
      width: 85%;
      margin: 0 auto;
    }

    ul {
      padding: 0;
    }

    .menu-list-container.boissons {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      section {
        width: 45%;
      }
    }

    .menu-list-container.fraiches {
      height: 610px;
    }

    .menu-list-container.chaudes {
      height: 280px;
    }
  }
}

@media (min-width: 1092px) {
  .menu-card.extended .menu-list-container.fraiches {
    height: 525px;
  }
}
